#content_container {
  position:relative;
  overflow: hidden;
  height:544px;
  width:720px;
  clear:both;
}

.image1 {
  position:absolute;
  top:0;
  left:0;
  height: 544px;
  width: 720px;
}

.overlay {
  z-index:100;
}

.bottom_image {
  z-index:1;
}

.top_image:hover {
  clip: rect(0px, 360px, 544px, 0px);
}

.top_image {
  clip: rect(0px, 720px, 544px, 0px);
  -webkit-transition:all 0.3s ease-in;
  -moz-transition:all 0.3s ease-in;
  -o-transition:all 0.3s ease-in;
  transition:all 0.3s ease-in;
  z-index:10;
}
